<!DOCTYPE html>
<html>
<head>
        <title>Birthday Display</title>
</head>
<style>
        body {background-image: 'memphis-colorful.png';}
</style>
<body>
        <h1 style="color:purple; text-align:center;">Birthday Reminder</h1>
	<p>$<%= allBirthdays.name.toString() %> </p>
</body>
</html>

